header{
    min-height: 100px;
    width: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header .logo{
    flex: 1;
}
header a{
    text-transform: uppercase;
    color: #555;
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
}
header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

.menu{
    display: none;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
}
.cart-icon span{
    background: crimson;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 7px;
    font-size: 10px; 
}
/* ----------- dropdown------------ */

.drop-nav{
    position: relative;
    padding: 10px 0;
    
}
.drop-nav a{
    text-transform: capitalize;
    overflow: hidden;
    
}

.drop-nav .dropdown{
    position: absolute;
    background: #0000;    
    width: 100%;
    width: calc(100% + 30px);
    top: 50px;
    display: none;
    height: 50px;
    text-align: center; 
}
.drop-nav .dropdown li{
    display: block;
    line-height: 30px;
}

.drop-nav:hover .dropdown{
    display: block;
    flex-wrap: nowrap;
   
}

@media screen and (max-width: 720px) {
    .drop-nav .dropdown{
        margin-left: 80px;
    }
    header .logo{
        flex: 1;
        margin-left: 50px;
    }
}