.footer-wrapper > .menu-footer > h5{
    font-size: 18px;
    font-weight: 700;
}

.footer-wrapper > .menu-footer > a > p{
    font-size: 15px;
}

.MuiBox-root.css-54x2ta{
    margin-top: 100px;
    margin-bottom: 20px;
}    
