/* .product_card{
    max-width: 250px;
    overflow: hidden;
    height: 400px;
    padding: 20px; */
    /* box-shadow: 0 0 15px #ddd; */
    /* margin: 10px 0;
    position: relative;
    border-radius: 15%;
    border: 1px solid lightgrey
} */
/* .product_card img{
    min-width: 200px;
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}
.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
    font-size: 1em;
}
.product_card span{
    color: crimson;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 30px;
    overflow: hidden;
    color: #323232;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: orange;
    margin-right: 5px;
    
}
#btn_view{
    background: #555;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
} */
.product_card{
    padding: 10px 10px;
    transition: box-shadow .2s;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 8px #ddd;  
    margin-bottom: 15px;
    margin-left: 8px;
}
.product_card:hover{
    /* border-radius: 15%; */
    box-shadow: 0 0 30px #ddd; 


}

.product_card > .productcard_image > a > img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.productcard_timer {
    float: right;
    color: crimson;
    padding-right: 5px;
}

.productcard_timer > p{
    font-size: 8px;
}


.productcard_details > p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.productcard_details > a > .gb_title {
    font-weight: 600;
    font-size: 10px;
    color: #263238;
    text-transform: uppercase;
    padding-top: 6px;
}

.productcard_favorite > .span2{
    color: gray;
    padding-left: 30px;
    font-size: 10px;
}

.productcard_content{
    position: relative;
    transition: 0.5s;
}

.productcard_content > .productcard_desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    opacity: 0;
}

.productcard_content > .productcard_desc > p{
    font-size: 8px;
}

.product_card:hover .productcard_content{
    transition: 0.5s;
    transform: translateY(-40%);
}

.product_card:hover .productcard_content > .productcard_desc{
    opacity: 1;
}

@media (max-width: 500px){
    .product_card{
    
        width: 120px;
        height: 220px;
    }
    .productcard_favorite > .span2{
        font-size: 10px;
        padding-left: 5px;
    }
    .product_card:hover .productcard_content{
        transition: 0.5s;
        transform: translateY(-30%);
    }
    
    .productcard_timer {
        float: right;
        color: crimson;
        padding-right: 1px;
        font-size: 5px;
    }
    .product_card > .productcard_image > a > img{
        width: 100%;
        height: 90px;
        object-fit: contain;
    }
}

@media (min-width: 500px){
    .productcard_details > a > .gb_title {
        font-size: 12px;
    }
}